.nav {
    font-size: 16px;
    color: $color-white;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
}

.nav__item {
    padding: 30px;
    border-bottom: 3px solid transparent;

    &:hover {
        color: #ff9a00;
        border-bottom: 3px solid #ff9a00;
        cursor: pointer;
    }
}


