section.about
    .container.about__container
        .about__user
            .about__photo-wrap
                .about__photo
                    +image('content/user.jpg', 'user__pic')
            .about__data
                table
                    -
                        var data = [
                            ['Проживаю:', 'Кременчуг'],
                            ['Возраст:', '30 лет'],
                            ['Родился:', '28 февраля 1989']
                            ]
                    each row in data
                        tr
                            td.about__row-data #{row[0]}
                            td.about__row-mydata #{row[1]}
        .about__content                    
            h3
                .about__welcom Привет, меня зовут
                .about__name Виктор Заяц
                .about__text.about__text_margin
                    p Я занимаюсь разработкой современных сайтов и приложений.
                        |Мне нравится делать интересные и современные проекты.
                .about__text        
                    p <em>Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                        |Чуть позже я освежу в нём свой контент. 
                        |А пока посмотрите, как тут всё классно и красиво!</em>