footer.footer
    .container.footer__container
        .footer__wrap
            .footer__year &copy 2019
            .footer__wrap-name
                .footer__name Виктор<br> Заяц
                .footer__desc Личный сайт<br> веб-разработчика
        .footer__content
            include nav
            .footer__content-wrap
                .footer__content-block
                    p.footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                    include socials
                    +socials('footer')
                .footer__content-block
                    blockquote.footer__blockquote
                        p.footer__blockquote-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                        cite.footer__author  Martin Golding