section.welcom-section.fullscreen-section
    .container.welcom-section__container
        include header
        h1.welcom-section__title-name Виктор Заяц
        a(href = '#').welcom-section__scroll Скролл

